:root{
    --backgroundMainColor: rgba(232, 226, 209);
    /* --coffeColor: rgba(173, 157, 130, 0.8); */
    --coffeColor: rgba(173, 157, 130);
    /* --coffeColor2: rgba(149, 133, 106, 0.8); */
    --mainFontType: 'Montserrat', sans-serif;
    --handwritedFontType: 'Allison', cursive;
    --scroll: 0;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--mainFontType)
}

::selection{
    background-color: rgba(219, 172, 52);
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

body{
    background-color: white;
    overflow-x: hidden;
    background-color: var(--backgroundMainColor);
    color: var(--backgroundMainColor)
}

header{
    position: sticky;
    inset: 0;
    width: 100%;
    background-color: var(--coffeColor);
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    z-index: 4;
}

header #header-author-details{
    z-index: 5;
    margin-left: 50px;
}

header #header-author-details-name{
    font-family: var(--handwritedFontType);
    font-size: 6rem;
    letter-spacing: 2px;
}

header #header-author-details-profession{
    font-family: var(--mainFontType);
    font-size: 1.4rem;
    letter-spacing: 3px;
    text-transform: capitalize;
}

header #header-links{
    z-index: 5;
    display: flex;
    justify-content: space-around;
    min-width:  50%;
    text-transform: uppercase;
    font-size: 1rem;
}

header nav a{
    text-decoration: none;
    color: var(--backgroundMainColor);
    padding: 10px 30px;
    border: 1px solid var(--coffeColor);
    /* border-radius: 10px; */
}

header nav a:active{
    color: black;
}

header nav a:hover, header nav a:focus{
    border: 1px solid var(--backgroundMainColor);
}

#waveImageBackground{
    position: absolute;
    left: 0;
    /* top: var(--wavesYPosition); */
    z-index: 3;
    height: 200px;
    translate: 0 calc(-1%* (max(var(--scroll), 50) - 50) * 100 / 50);
}

#photos-showroom{
    width: 100%;
    overflow: hidden;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#pencilsPhoto{
    /* border-radius: 50px; */
    z-index: 2;
    max-width: 100%;
    transform: scale(1.2);
    position: relative;
    top: 100px;
    left: 50px;

}

#aboutMeSection{
    /* display: flex; */
    height: 100vh;
    z-index: 11111;
    color: red;
}

#authorPhoto{
    width: 500px;
}